<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Home</title>
</head>
<body>
	<h1>_------------HOME-----------_</h1>
	<section class="scm d-flex justify-content-center align-items-center">
		
		<div class="text-center">
			<h1 class="font-weight-bold">SMART CONTACT MANAGER</h1>
			<p>Let's put our conversations together .</p>
			<p>Let's connect .</p>
			
			<button class="btn bg-primary btn-lg text-white">Get Started</button>
			
		</div>
		
	</section>
</body>
</html>